C0_BLACK      = "#{{ themes[theme].C0_BLACK }}"
C1_RED        = "#{{ themes[theme].C1_RED }}"
C2_GREEN      = "#{{ themes[theme].C2_GREEN }}"
C3_YELLOW     = "#{{ themes[theme].C3_YELLOW }}"
C4_BLUE       = "#{{ themes[theme].C4_BLUE }}"
C5_MAGENTA    = "#{{ themes[theme].C5_MAGENTA }}"
C6_CYAN       = "#{{ themes[theme].C6_CYAN }}"
C7_WHITE      = "#{{ themes[theme].C7_WHITE }}"
C8_BLACK_BR   = "#{{ themes[theme].C8_BLACK_BR }}"
C9_RED_BR     = "#{{ themes[theme].C9_RED_BR }}"
CA_GREEN_BR   = "#{{ themes[theme].CA_GREEN_BR }}"
CB_YELLOW_BR  = "#{{ themes[theme].CB_YELLOW_BR }}"
CC_BLUE_BR    = "#{{ themes[theme].CC_BLUE_BR }}"
CD_MAGENTA_BR = "#{{ themes[theme].CD_MAGENTA_BR }}"
CE_CYAN_BR    = "#{{ themes[theme].CE_CYAN_BR }}"
CF_WHITE_BR   = "#{{ themes[theme].CF_WHITE_BR }}"
