C0_BLACK      = "{{ colors.C0_BLACK }}"
C1_RED        = "{{ colors.C1_RED }}"
C2_GREEN      = "{{ colors.C2_GREEN }}"
C3_YELLOW     = "{{ colors.C3_YELLOW }}"
C4_BLUE       = "{{ colors.C4_BLUE }}"
C5_MAGENTA    = "{{ colors.C5_MAGENTA }}"
C6_CYAN       = "{{ colors.C6_CYAN }}"
C7_WHITE      = "{{ colors.C7_WHITE }}"
C8_BLACK_BR   = "{{ colors.C8_BLACK_BR }}"
C9_RED_BR     = "{{ colors.C9_RED_BR }}"
CA_GREEN_BR   = "{{ colors.CA_GREEN_BR }}"
CB_YELLOW_BR  = "{{ colors.CB_YELLOW_BR }}"
CC_BLUE_BR    = "{{ colors.CC_BLUE_BR }}"
CD_MAGENTA_BR = "{{ colors.CD_MAGENTA_BR }}"
CE_CYAN_BR    = "{{ colors.CE_CYAN_BR }}"
CF_WHITE_BR   = "{{ colors.CF_WHITE_BR }}"
