# ignore-empty-password
# show-failed-attempts
daemonize

# no-unlock-indicator

show-keyboard-layout

color={{ themes[theme].C0_BLACK }}

bs-hl-color={{ themes[theme].C0_BLACK }}00
caps-lock-bs-hl-color={{ themes[theme].C0_BLACK }}00
caps-lock-key-hl-color={{ themes[theme].C0_BLACK }}00

font="IBM Plex Mono"
font-size=24 # TODO: calculate

# indicator-idle-visible
# indicator-radius=50
# indicator-thickness=0
# indicator-x-position=960
# indicator-y-position=540

inside-color={{ themes[theme].C0_BLACK }}00
inside-clear-color={{ themes[theme].C0_BLACK }}00
inside-caps-lock-color={{ themes[theme].C0_BLACK }}00
inside-ver-color={{ themes[theme].C0_BLACK }}00
inside-wrong-color={{ themes[theme].C0_BLACK }}00

key-hl-color={{ themes[theme].C0_BLACK }}00

layout-bg-color={{ themes[theme].C0_BLACK }}00
layout-border-color={{ themes[theme].C0_BLACK }}00
layout-text-color={{ themes[theme].C0_BLACK }}00
line-color={{ themes[theme].C0_BLACK }}00
line-clear-color={{ themes[theme].C0_BLACK }}00
line-caps-lock-color={{ themes[theme].C0_BLACK }}00
line-ver-color={{ themes[theme].C0_BLACK }}00
line-wrong-color={{ themes[theme].C0_BLACK }}00
# line-uses-inside
# line-uses-ring

ring-color={{ themes[theme].C0_BLACK }}00
ring-clear-color={{ themes[theme].C0_BLACK }}00
ring-caps-lock-color={{ themes[theme].C0_BLACK }}00
ring-ver-color={{ themes[theme].C0_BLACK }}00
ring-wrong-color={{ themes[theme].C0_BLACK }}00

separator-color={{ themes[theme].C0_BLACK }}00

text-color={{ themes[theme].CF_WHITE_BR }}
text-clear-color={{ themes[theme].CF_WHITE_BR }}
text-caps-lock-color={{ themes[theme].CF_WHITE_BR }}
text-ver-color={{ themes[theme].CF_WHITE_BR }}
text-wrong-color={{ themes[theme].CF_WHITE_BR }}
