# Your preferred application launcher
set $menu wmenu-run \
         -N {{themes[theme].C0_BLACK }} -n {{themes[theme].CF_WHITE_BR }} \
         -M {{themes[theme].C0_BLACK }} -m {{themes[theme].CF_WHITE_BR }} \
         -S {{themes[theme].CF_WHITE_BR }} -s {{themes[theme].C0_BLACK }} \
         -i \
         -p "run:" \
         -f "IBM Plex Mono 13" # TODO: $FONT

    bindsym $mod+Shift+p exec sh -c "slurp -p -b 00000000 | xargs -I {} grim -g "{}" - | magick - -format '#%[hex:u.p{0,0}]' info:- | tr '[:upper:]' '[:lower:]' | wl-copy"
    bindsym $mod+Shift+a exec sh -c "slurp -b 00000000 -c {{themes[theme].CF_WHITE_BR }}ff -w 1 | xargs -I {} grim -g "{}" - | tesseract stdin stdout -l ukr+eng 2>/dev/null | wl-copy"
    bindsym $mod+Shift+t exec zsh -c -i "slurp -b 00000000 -c {{themes[theme].CF_WHITE_BR }}ff -w 1 | xargs -I {} grim -g "{}" - | tesseract stdin stdout -l eng 2>/dev/null | en2uk | xargs -0 -I {} notify-send "Translation" "{}""
    bindsym $mod+Shift+r exec sh -c "slurp -b 00000000 -c {{themes[theme].CF_WHITE_BR }}ff -w 1 | xargs -I {} grim -g "{}" - | zbarimg --quiet --raw --nodbus - | xargs -0 -I {} notify-send "Code" "{}""

output * background #{{themes[theme].C0_BLACK }} solid_color

# Show clipboard menu
bindsym $mod+c exec cliphist list | wmenu \
         -N {{themes[theme].C0_BLACK }} -n {{themes[theme].CF_WHITE_BR }} \
         -M {{themes[theme].C0_BLACK }} -m {{themes[theme].CF_WHITE_BR }} \
         -S {{themes[theme].CF_WHITE_BR }} -s {{themes[theme].C0_BLACK }} \
         -i \
         -p "copy:" \
         -f "IBM Plex Mono 13" | cliphist decode | wl-copy
# TODO: $FONT

#
# Status Bar:
#
# Read `man 5 sway-bar` for more information about this section.
bar {
    position top

    # When the status_command prints a new line to stdout, swaybar updates.
    # The default just shows the current date and time.
    status_command status-bar

    height 26
    # font*2=13*2=26 # TODO: fixes strange vertical padding
    # font*scale=13*1.5=20 # TODO: fixes strange vertical padding

    separator_symbol " "

    status_edge_padding 0
    status_padding 0

    colors {
        background #{{themes[theme].C0_BLACK }}
        statusline #{{themes[theme].CF_WHITE_BR }}
        separator #{{themes[theme].CF_WHITE_BR }}
        focused_workspace #{{themes[theme].C0_BLACK }} #{{themes[theme].CF_WHITE_BR }} #{{themes[theme].C0_BLACK }}
        inactive_workspace #{{themes[theme].C0_BLACK }} #{{themes[theme].C0_BLACK }} #{{themes[theme].CF_WHITE_BR }}
        urgent_workspace #{{themes[theme].C0_BLACK }} #{{themes[theme].C0_BLACK }} #{{themes[theme].C9_RED_BR }}
        binding_mode #{{themes[theme].C0_BLACK }} #{{themes[theme].CD_MAGENTA_BR }} #{{themes[theme].C0_BLACK }}
    }
}

client.focused           #{{themes[theme].CF_WHITE_BR }} #{{themes[theme].CF_WHITE_BR }} #{{themes[theme].C0_BLACK }} #{{themes[theme].CF_WHITE_BR }} #{{themes[theme].CF_WHITE_BR }}
client.focused_inactive  #{{themes[theme].CF_WHITE_BR }} #{{themes[theme].C0_BLACK }} #{{themes[theme].CF_WHITE_BR }} #{{themes[theme].CF_WHITE_BR }} #{{themes[theme].CF_WHITE_BR }}
client.focused_tab_title #{{themes[theme].CF_WHITE_BR }} #{{themes[theme].C0_BLACK }} #{{themes[theme].CF_WHITE_BR }}
client.unfocused         #{{themes[theme].CF_WHITE_BR }} #{{themes[theme].C0_BLACK }} #{{themes[theme].CF_WHITE_BR }} #{{themes[theme].CF_WHITE_BR }} #{{themes[theme].CF_WHITE_BR }}
client.urgent            #{{themes[theme].C9_RED_BR }} #{{themes[theme].C0_BLACK }} #{{themes[theme].C9_RED_BR }} #{{themes[theme].C9_RED_BR }} #{{themes[theme].C9_RED_BR }}
