[colors.primary]
background = "{{ colors.C0_BLACK }}"
foreground = "{{ colors.CF_WHITE_BR }}"

[colors.normal]
black   = "{{ colors.C0_BLACK }}"
red     = "{{ colors.C1_RED }}"
green   = "{{ colors.C2_GREEN }}"
yellow  = "{{ colors.C3_YELLOW }}"
blue    = "{{ colors.C4_BLUE }}"
magenta = "{{ colors.C5_MAGENTA }}"
cyan    = "{{ colors.C6_CYAN }}"
white   = "{{ colors.C7_WHITE }}"

[colors.bright]
black   = "{{ colors.C8_BLACK_BR }}"
red     = "{{ colors.C9_RED_BR }}"
green   = "{{ colors.CA_GREEN_BR }}"
yellow  = "{{ colors.CB_YELLOW_BR }}"
blue    = "{{ colors.CC_BLUE_BR }}"
magenta = "{{ colors.CD_MAGENTA_BR }}"
cyan    = "{{ colors.CE_CYAN_BR }}"
white   = "{{ colors.CF_WHITE_BR }}"
