[colors.primary]
background = "#{{ themes[theme].C0_BLACK }}"
foreground = "#{{ themes[theme].CF_WHITE_BR }}"

[colors.normal]
black   = "#{{ themes[theme].C0_BLACK }}"
red     = "#{{ themes[theme].C1_RED }}"
green   = "#{{ themes[theme].C2_GREEN }}"
yellow  = "#{{ themes[theme].C3_YELLOW }}"
blue    = "#{{ themes[theme].C4_BLUE }}"
magenta = "#{{ themes[theme].C5_MAGENTA }}"
cyan    = "#{{ themes[theme].C6_CYAN }}"
white   = "#{{ themes[theme].C7_WHITE }}"

[colors.bright]
black   = "#{{ themes[theme].C8_BLACK_BR }}"
red     = "#{{ themes[theme].C9_RED_BR }}"
green   = "#{{ themes[theme].CA_GREEN_BR }}"
yellow  = "#{{ themes[theme].CB_YELLOW_BR }}"
blue    = "#{{ themes[theme].CC_BLUE_BR }}"
magenta = "#{{ themes[theme].CD_MAGENTA_BR }}"
cyan    = "#{{ themes[theme].CE_CYAN_BR }}"
white   = "#{{ themes[theme].CF_WHITE_BR }}"
