[General]
contrastOpacity=127
contrastUiColor=#{{ themes[theme].C0_BLACK }}
disabledTrayIcon=true
drawColor=#{{ themes[theme].CF_WHITE_BR }}
drawPixelateSize=5
drawThickness=5
filenamePattern=%F_%T
saveAsFileExtension=png
showAbortNotification=false
showDesktopNotification=false
showHelp=false
showSidePanelButton=false
showStartupLaunchMessage=false
uiColor=#{{ themes[theme].CF_WHITE_BR }}
userColors=picker, #{{ themes[theme].C0_BLACK }}, #{{ themes[theme].CC_BLUE_BR }}, #{{ themes[theme].CA_GREEN_BR }}, #{{ themes[theme].CE_CYAN_BR }}, #{{ themes[theme].C9_RED_BR }}, #{{ themes[theme].CD_MAGENTA_BR }}, #{{ themes[theme].CB_YELLOW_BR }}, #{{ themes[theme].CF_WHITE_BR }}
